<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccess</key>
	<date>2017-10-12T20:59:21Z</date>
	<key>author</key>
	<string>Sys001</string>
	<key>bundleIdentifier</key>
	<string>com.sys001.SubManager</string>
	<key>executable</key>
	<string>SubManager</string>
	<key>external</key>
	<dict>
		<key>include</key>
		<array/>
		<key>lib</key>
		<array/>
	</dict>
	<key>frameworks</key>
	<array>
		<string>UIKit</string>
		<string>Foundation</string>
		<string>CoreGraphics</string>
	</array>
	<key>name</key>
	<string>SubManager</string>
	<key>product</key>
	<string>SubManager</string>
	<key>projectDevice</key>
	<string>iPhone</string>
	<key>projectType</key>
	<string>Application</string>
	<key>resources</key>
	<array>
		<dict>
       			<key>folder</key>
       			<false/>
       			<key>name</key>
       			<string>Icon.png</string>
     		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>Info.plist</string>
		</dict>
	</array>
	<key>sourceFiles</key>
	<array>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>main.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>RootViewController.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>RootViewController.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>SubManagerAppDelegate.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>SubManagerAppDelegate.m</string>
		</dict>
	</array>
</dict>
</plist>
