<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssemblerFlags</key>
	<array>
		<string>-arch armv7 -arch armv7s -arch arm64</string>
	</array>
	<key>CompilerFlags</key>
	<array>
		<string>-arch armv7 -arch armv7s -arch arm64</string>
	</array>
	<key>DisabledWarnings</key>
	<array/>
	<key>SDK</key>
	<string>iPhoneOS7.0.sdk</string>
</dict>
</plist>
